.page-header {
  margin-bottom: 20px;
}

#rooms-page {
  padding: 50px;
}

.room-list {
  display:flex;
  margin-top: 100px;
}

.room {
  width: 200px;
  border: 1px solid gray;
  padding: 10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.room-name{
  margin-bottom: 20px;
}

.users-connected {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 20px;
  align-self: flex-start;
}

.btn{
  border: 1px solid gray;
  background-color: lightgray;
  padding: 10px 40px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.btn:hover{
  cursor: pointer;
}

.user-status {
  display: flex;
  align-items: center;
}

.user-ready {
  border-radius: 50%;
  background-color: red;
  width: 10px;
  height: 10px;
  margin-right: 20px;
}

.user-ready.ready {
  background-color: lime;
}

.room-wrapper{
  display: flex;
  width: 90vw;
}

.right-panel {
  flex:1;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-right: 20px;
}

.left-panel {
  width: 200px;
  margin-right: 20px;
}

.hide {
  display:none;
}

.timer {
  font-size: 4rem;
  color: blueviolet;
}

.highlight {
  background-color: chartreuse;
}

.next{
  background-color: yellow;
}

progress[value="100"]{
  background-color: yellow;
}

.time-left {
  position: absolute;
  top:100px;
}

.results {
  padding: 30px;
}

.results-table{
  border-collapse: collapse;
  width: 100%;
}

.results-table, .tr, .td {
  border: 1px solid lightgray;
  padding: 5px;
}

.commentator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentator .picture {
  width: 126px;
  height: 94px;
  margin-bottom: 10px;
}

.comments-box {
  background-color: lavender;
  min-height: 150px;
  width: 250px;
  border-radius: 10px;
  padding: 10px;
}